@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

header {
  background: url(../pics/cover.jpg);
  height: 50vh;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header h1 {
  background-color: green;
  border-radius: 25px;
  padding: 10px;
  font-size: 3em;
}

.article-heading {
  margin: 0.67em 0 0;
  font-size: 1.5em;
}

.article-heading a {
  color: black;
}
.article-heading a:hover, .article-heading a:focus, .article-heading a:active {
  color: blue;
  text-decoration: none;
}

.cat {
  color: green !important;
}

.cat:hover, .cat:focus, .cat:active {
  color: darkgreen !important;
}

article {
  max-width: 650px;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
    margin-bottom: 1em;
}

#content {
  padding: 10px;
}
#wrapper {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}
